<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Cadastre-se</title>
</head>
<body>
    <form action="/signup" method="post">
        Email: <input type="email" name="email" id="email"> <br>
        Nome: <input type="text" name="name" id="name"> <br>
        Senha: <input type="password" name="password" id="password">
    </form>
    <p>Já tem uma conta? <a href="/">Fazer login</a></p>
</body>
</html>